body {
    margin: 0;
    padding: 0;  
}
.main{
    height: 100vh;   
    display: flex;
    align-items: center;
    justify-content: center; 
    transition-property: background-color;
    transition-duration: 3s;
}
.block{
    background-color: rgb(247, 241, 241);
    height: 300px;
    width: 430px;
    border-radius: 7px; 
}
.text1{
    width: 80%;
    height: 40%;
    margin: 8px 8px 8px 30px;
    padding: 15px;
    font-family: 'Redressed', cursive;
    font-size: x-large;
    transition-property: color;
    transition-duration: 3s;
}
.author{
    display: flex;
    justify-content: flex-end;
    font-family: 'Yellowtail', cursive;
    font-size: large;
}
.text2{
    height: 10%;
    margin-right: 50px;
    text-align: center;
    padding-top: 3px;
    transition-property: color;
    transition-duration: 3s;
}

.elements{
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}
.twitter{
    width:auto;
    height: 17%;
    margin: 2px;
    padding: 2px 0 2px 0;
}
#liste{
    height: 45px;
    width: 15%;
    margin: 0;
    padding: 0;
    background: tomato url(arrow_right.svg);
    background-repeat: round;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition-property: background-color;
    transition-duration: 3s;
}
#liste:active 
#liste:hover
#liste:focus
#liste:visited
#liste:focus-visible
#liste:focus-within
{
    border: none;
}