#color {
    transition-property: background-color;
    transition-duration: 3s;
  }


/* css переменная
адаптивная верстка посмотреть длинное видео

как убрать рамку в кнопке, после того, как ее активизировали

.lines:active{
    border-color: none;
} 

 шрифт выставить с плавающими размерами rem  em size or % */